body {
    background-color: #283149;
    text-align: center;
}

footer {
    color: #FFF;
    font-family: sans-serif;
}

.title {
    color: #FFF;
    font-family: "Arvo", cursive;
    font-size: 5rem;
    text-shadow: 3px 0 #da0463;
}

.set {
    margin: 10% auto;
}

.drum {
    border: 10px solid #404B69;
    border-radius: 15px;
    color: #DA0463;
    display: inline-block;
    font-family: 'Arvo', cursive;
    font-size: 4rem;
    font-weight: 900;
    line-height: 2;
    margin: 0 10px;
    height: 150px;
    width: 150px;
    outline: none;
    text-shadow: 3px 0 #DBEDF3;
}

.w {
    background-image: url('images/crash.png');

}

.a {
    background-image: url('images/tom1.png');
}

.s {
    background-image: url('images/tom2.png');
}

.d {
    background-image: url('images/snare.png');
}

.j {
    background-image: url('images/tom3.png');
}

.k {
    background-image: url('images/tom4.png');
}

.l {

    background-image: url('images/kick.png');
}

.pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: .5;
}